<% layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%=campground.id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          placeholder="Title"
          value="<%=campground.title%>"
          required
        />
        <div class="invalid-feedback">Please input title.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          placeholder="Location"
          id="location"
          value="<%=campground.location%>"
          required
        />
        <div class="invalid-feedback">Please input location.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            id="price"
            value="<%=campground.price%>"
            required
          />
          <div class="invalid-feedback">Please input price.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description </label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          placeholder="Description"
          id="description"
          required
        >
<%=campground.description%></textarea
        >
        <div class="invalid-feedback">Please input description.</div>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Add Images</label>
        <input
          class="form-control"
          type="file"
          id="formFile"
          name="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <%campground.images.forEach((img,i)=>{%>

        <label for="image-<%=i%>">
          <img
            src="<%=img.thumbnail%>"
            class="img-thumbnail"
            id="img-<%=i%>"
            alt=""
          />
          <br />
          <div class="form-check-inline">
            <input
              type="checkbox"
              id="image-<%=i%>"
              name="deleteImages[]"
              value="<%=img.filename%>"
            />
          </div>
          Delete</label
        >
        <%})%>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%=campground._id%>">Back To Campgrounds</a>
  </div>
</div>
